#parse ( "/templates/ContentSpecDefaults.vm" )
<!ENTITY PRODUCT "${contentSpec.getProduct()}">
<!ENTITY BOOKID "${contentSpec.getEscapedTitle()}">
<!ENTITY YEAR "${date.get("yyyy")}">
<!ENTITY TITLE "${contentSpec.getTitle()}">
<!ENTITY HOLDER "${contentSpec.getCopyrightHolder()}">
