#parse ( "/templates/Macros.vm" )
#generateBugzillaLink( "https://bugzilla.redhat.com/enter_bug.cgi"$bugProduct $bugComponent $bugVersion $bugAssignedTo $bugKeywords $bugEnvironment $bugBuildId )
<section id="${topicSectionId}">
	<title>${title}</title>
## Previous step
#if (${previousSteps})
	<itemizedlist>
#if (${previousSteps.size()} > 1)
		<title role="process-previous-title">Previous Steps in <link linkend="$processLink" /></title>
#else
		<title role="process-previous-title">Previous Step in <link linkend="$processLink" /></title>
#end
#foreach (${previousStep} in ${previousSteps})
		<listitem>
			<para role="process-previous-link">
				<xref linkend="${previousStep}" />
			</para>
		</listitem>
#end
	</itemizedlist>
#end
## Prerequiste Injections
#if (${prerequisites})
	<formalpara role="prereqs-list">
		<title>Prerequistes:</title>
		<para>
			<itemizedlist>
#foreach (${prerequisite} in ${prerequisites})
				<listitem>
					<para>
						<xref linkend="${prerequisite}" />
					</para>
				</listitem>
#end
			</itemizedlist>
		</para>
	</formalpara>
#end
${content}
## Next steps
#if (${nextSteps})
	<itemizedlist>
#if (${nextSteps.size()} > 1)
		<title role="process-next-title">Next Steps in <link linkend="$processLink" /></title>
#else
		<title role="process-next-title">Next Step in <link linkend="$processLink" /></title>
#end
#foreach (${nextStep} in ${nextSteps})
		<listitem>
			<para role="process-previous-link">
				<xref linkend="${nextStep}" />
			</para>
		</listitem>
#end
	</itemizedlist>
#end
## See Also Injections
#if (${seealsos})
	<formalpara role="refer-to-list">
		<title>See Also:</title>
		<para>
			<itemizedlist>
#foreach (${seealso} in ${seealsos})
				<listitem>
					<para>
						<xref linkend="${seealso}" />
					</para>
				</listitem>
#end
			</itemizedlist>
		</para>
	</formalpara>
#end
## The various additional information for a topic
#if (${topicUrl} || ${buildUrl})
	<formalpara>
		<title/>
#if (${topicUrl})
		<remark role="RoleViewInSkyNetPara">
			<ulink url="${topicUrl}">View in Skynet</ulink>
		</remark>
#end
#if (${buildUrl})
		<remark role="RoleBuildVersionPara">
			<ulink url="${buildUrl}">Built with ${buildName}</ulink>
		</remark>
#end
	</formalpara>
#end
## Inject the bug reporting links
#if (${injectBugLink})
	<formalpara>
		<title/>
		<para role="RoleCreateBugPara">
			<ulink url="${bugzillalink}">Report a bug</ulink>
		</para>
	</formalpara>
#end
</section>
